<div class="flex flex-col mx-auto">
  <h1 class="text-3xl font-bold mb-4">Books</h1>

  <%= link_to 'New Book', new_book_path, class: 'bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600' if user_signed_in? %>

  <%= form_tag books_path, method: :get, class: "pt-4" do %>
    <%= label_tag :query, "Search by title or author:" %>
    <%= text_field_tag :query, params[:query], placeholder: "Enter title or author", class: "p-2 border border-gray-300 rounded" %>
    <%= submit_tag "Search", class: "ml-2 px-4 py-2 bg-blue-500 text-white rounded" %>
  <% end %>

   <ul class="space-y-4 mt-6">
    <% @books.each do |book| %>
      <li class="border-b pb-4">
        <div class="flex justify-between items-center">
          <div>
            <%= link_to highlight_text(book.title, params[:query]), book_path(book), class: 'text-blue-600 hover:underline' %>
            by 
            <%= highlight_text(book.author, params[:query]) %>
          </div>
          <span class="text-sm text-gray-500">Rating: <%= book.average_rating %></span>
        </div>
      </li>
    <% end %>
  </ul>

  <div class="mt-6">
    <%= paginate @books %>
  </div>
</div>
