
    <div class="flex flex-col mx-auto">
    <h1 class="text-3xl font-bold mb-4">Books</h1>

<%= link_to 'New Book', new_book_path, class: 'bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600' if user_signed_in? %>

<ul class="space-y-4 mt-6">
  <% @books.each do |book| %>
    <li class="border-b pb-4">
      <div class="flex justify-between items-center">
        <div>
          <%= link_to book.title, book_path(book), class: 'text-lg font-semibold text-blue-600 hover:underline' %> 
          by <%= book.author %>
        </div>
        <span class="text-sm text-gray-500">Rating: <%= book.average_rating %></span>
      </div>
    </li>
  <% end %>
</ul>

<div class="mt-6">
  <%= paginate  @books %>
</div>

</div>