<nav class="space-x-4">
  <% if user_signed_in? %>
    <!-- Navigation for logged-in users -->
    <div class="flex items-center">
        <%= link_to "Profile", edit_user_registration_path %>
        <%= form_with(url: destroy_user_session_path, method: :delete, local: true, data: { confirm: "Are you sure you want to log out?" }) do |form| %>
            <%= form.submit "Log out", class: "bg-red-500 text-white py-2 px-4 rounded hover:bg-red-600 cursor-pointer" %>
        <% end %>
    </div>
    
    
    <% if current_user.admin? %>
      <!-- Admin specific navigation -->
      <%= link_to "Admin Dashboard", admin_dashboard_path %>
    <% end %>
  <% else %>
    <!-- Navigation for guests (not logged-in users) -->
    <%= link_to "Log in", new_user_session_path %>
    <%= link_to "Sign up", new_user_registration_path %>
  <% end %>
</nav>
